{#
  This Jinja template acts as a base for the Grammar Matrix website

  Note this defines (at least) the following blocks:
    * head
    * body
    * onload

  Note this defines (at least) the following variables:
    * cookie
    * section_name
    * features
    * verb_case_patterns
    * numbers

    TODO:
      Create a macro file for forms
#}
Content-type: text/html;charset=UTF-8
Set-cookie: session={{cookie}}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title>{{section_name|default("the Matrix")}}</title>

    <link rel="stylesheet" href="web/matrix.css">

    <script type="text/javascript" src="web/matrix.js"></script>
    {% if section_name %}<script type="text/javascript" src="web/draw.js"></script>{% endif %}
    {% if features or verb_case_patterns or numbers %}
    <script type="text/javascript">
      <!--
      // An array of strings, each of the form "name:value|friendly value,..."
      var features = [{{features|safe}}];

      var verb_case_patterns = [{{verb_case_patterns|safe}}];

      var numbers = [{{numbers|safe}}];
      -->
    </script>
    {% endif %}
    {% block head %}{% endblock head %}
  </head>

  <body{% if self.onload() %} onload="{% block onload %}{% endblock onload %}"{% endif %}>
  {% block body %}
  {% endblock body %}
  </body>

</html>
