Content-type: text/html;charset=UTF-8
{% if cookie %}Set-cookie: session={{cookie}}{% endif %}

{#
  This Jinja template acts as a base for the Grammar Matrix website

  Note this defines (at least) the following blocks:
    * head
    * body
    * onload

  Note this defines (at least) the following variables:
    * cookie
    * section_name
    * features
    * verb_case_patterns
    * numbers

    TODO:
      Create a macro file for forms
#}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title>{% block title %}{{section_name|default("the Matrix")}}{% endblock title %}</title>

    <link rel="stylesheet" href="web/matrix.css">
      {% block js %}{% endblock js %}
      {% block head %}{% endblock head %}
  </head>

  <body{% if self.onload() %} onload="{% block onload %}{% endblock onload %}"{% endif %}>
  {% block body %}
  {% endblock body %}

  </body>

</html>
