{% extends "base.html" %}

{#
  This Jinja template displays validations errors to users when trying to customize their grammar

  Note this defines (at least) the following variables:
    * choices_file
    * exception

#}

{% block title %}Problem Customizing Grammar{% endblock %}


{# TODO: Move this to matrix.js #}
{% block head %}
<script type="text/javascript">
<!--
    function toggle_visible(id) {
       var e = document.getElementById(id);
       if(e.style.display == 'block')
          e.style.display = 'none';
       else
          e.style.display = 'block';
    }
//-->
</script>
{% endblock %}


{% block body %}
  <div style="position:absolute; top:15%; width:60%">
    <p style="color:red; text-align:center; font-size:12pt">
      The provided choices file is invalid. If you have edited the
      file by hand, please review the changes you made to make sure
      they follow the choices file file format. If you did not make
      any manual changes, please email the choices file to the Matrix
      developers. You may download the choices file to try and fix
      any errors.
    </p>

    <p style="text-align:center">
      <a href="{{choices_file}}">View Choices File</a> (right-click to download)
    </p>

    <p style="text-align:center">In most cases, you can go back
      in your browser and fix the problems, but if not you may
      <a href="matrix.cgi?choices=empty">reload an empty questionnaire</a>
      (this will erase your changes, so be sure to save your choices (above) first).
    </p>

    {{exception|indent}}
{% endblock %}
