{% extends "base.html" %}

{#
  This Jinja template displays validation errors to users when trying to customize their grammar

  Note this defines (at least) the following variables:
    * errors
    * warnings

#}

{% block title %}Matrix Customization Errors{% endblock %}

{% block body %}
  {% if errors %}
    <h2>Errors</h2>
    <dl>
    {% for error in errors %}
      <dt><b>{{error}}:</b></dt>
      <dd>{{ errors[error].message }}</dd>
    {% endfor %}
    </dl>
  {% endif %}
  {% if warnings %}
    <h2>Warnings</h2>
    <dl>
    {% for warning in warnings %}
      <dt><b>{{warning}}:</b></dt>
      <dd>{{ warnings[warning].message }}</dd>
    {% endfor %}
    </dl>
  {% endif %}
{% endblock %}
