{% extends "base.html" %}

{% block js %}
<script type="text/javascript" src="web/matrix.js"></script>
{% if section_name %}<script type="text/javascript" src="web/draw.js"></script>{% endif %}
{% if features or verb_case_patterns or numbers %}
<script type="text/javascript">
  <!--
  // An array of strings, each of the form "name:value|friendly value,..."
  var features = [{{features|safe}}];

  var verb_case_patterns = [{{verb_case_patterns|safe}}];

  var numbers = [{{numbers|safe}}];
  -->
</script>
{% endif %}
{% endblock js %}
