{% extends "base.html" %}

{#
  This Jinja template extends base.html to define a subpage.

  Note this defines (at least) the following variables:
    * onload : a string of JavaScript which runs on page load
    * section : the internal/developer facing name of the section
    * section_name : the external/user facing name of the section
    * section_doc_link : the matrix docs link for the section
    * navigation : the navigation sidebar HTML
    * form : the main UI content

#}

{% block onload %}animate(); focus_all_fields(); multi_init(); fill_hidden_errors(); scalenav();{{onload}}{% endblock %}

{% block body %}
  <h2 style="display:inline">{{section_name}}</h2>
  <span class="tt">[<a href="http://moin.delph-in.net/MatrixDoc/{{section_doc_link}}" target="matrixdoc">help</a>]</span>
  <br />

  {{navigation|indent}}

  <div id="form_holder">
    {# TODO: Make this a macro #}
    <form action="matrix.cgi" method="post" enctype="multipart/form-data" name="choices_form">
      {# Keep track of where we are! #}
      <input type="hidden" name="section" value="{{section}}"></input>
      <input type="hidden" name="subpage" value="{{section}}"></input>
      {# UI content #}
      {{form|indent}}
    </form>
  </div>
{% endblock %}
